<div class="wrapper">
    <table class="table" tuiTable>
        <thead>
            <tr>
                @for (column of handbook()?.columns; track column.id) {
                    <th tuiTh>{{ column.name }}</th>
                }

                <th tuiTh class="fixed"> </th>
            </tr>
        </thead>

        <tbody tuiTbody>
            @for (row of draftRows(); track row.id) {
                <tr>
                    @for (column of handbook()?.columns; track column.id) {
                        <td tuiTd (dblclick)="startEditing(row.id, column.id)">
                            @if (isCellEditing(row.id, column.id)) {
                                @switch (column.type) {
                                    @case (HandbookColumnType.Date) {
                                        <tui-textfield>
                                            <input
                                                tuiInputDate
                                                [formControl]="editCellControl"
                                            />

                                            <tui-calendar *tuiDropdown />
                                        </tui-textfield>
                                    }

                                    @case (HandbookColumnType.Boolean) {
                                        <input
                                            tuiCheckbox
                                            type="checkbox"
                                            [formControl]="editCellControl"
                                        />
                                    }

                                    @case (HandbookColumnType.Text) {
                                        <tui-textfield>
                                            <input
                                                type="text"
                                                tuiInput
                                                [formControl]="editCellControl"
                                            />
                                        </tui-textfield>
                                    }

                                    @case (HandbookColumnType.Number) {
                                        <tui-textfield>
                                            <input
                                                type="number"
                                                tuiInput
                                                [formControl]="editCellControl"
                                            />
                                        </tui-textfield>
                                    }

                                    @case (HandbookColumnType.User) {
                                        <tui-textfield>
                                            <input
                                                type="text"
                                                tuiInput
                                                [formControl]="editCellControl"
                                            />
                                        </tui-textfield>
                                    }

                                    @case (HandbookColumnType.List) {
                                        <tui-textfield>
                                            <input
                                                type="text"
                                                tuiInput
                                                [formControl]="editCellControl"
                                            />
                                        </tui-textfield>
                                    }

                                    @case (HandbookColumnType.FormattedString) {
                                        <tui-textfield>
                                            <input
                                                type="text"
                                                tuiInput
                                                [formControl]="editCellControl"
                                            />
                                        </tui-textfield>
                                    }
                                }
                            } @else {
                                @switch (column.type) {
                                    @case (HandbookColumnType.Date) {
                                        {{
                                            getDateValue(row.values[column.id])
                                                | date
                                        }}
                                    }

                                    @case (HandbookColumnType.Boolean) {
                                        {{
                                            row.values[column.id] ? 'Да' : 'Нет'
                                        }}
                                    }

                                    @case (HandbookColumnType.Text) {
                                        {{ row.values[column.id] }}
                                    }

                                    @case (HandbookColumnType.Number) {
                                        {{ row.values[column.id] }}
                                    }

                                    @case (HandbookColumnType.User) {
                                        {{ getUser(row.values[column.id]) }}
                                    }

                                    @case (HandbookColumnType.List) {
                                        {{ row.values[column.id] }}
                                    }

                                    @case (HandbookColumnType.FormattedString) {
                                        <tui-editor-socket
                                            [content]="
                                                getValue(row.values[column.id])
                                            "
                                        />
                                    }
                                    @case (HandbookColumnType.Reference) {
                                        {{ row.values[column.id] }}
                                    }
                                }
                            }
                        </td>
                    }

                    <td tuiTd class="fixed">
                        <app-edit-row-button
                            [handbook]="handbook()"
                            [row]="row"
                            (updatedRow)="updateRows($event)"
                            (deletedRowId)="deleteRow($event)"
                            (clonedRows)="addRows($event)"
                        />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div #loadMore class="load-more"></div>

    <footer class="footer">
        <div class="footer-buttons">
            @if (draftRows().length === 0) {
                <div class="empty-text">Нет строк</div>
            }

            @if (
                canEditHandbook() || currentUser()?.id === handbook()?.ownerId
            ) {
                <app-add-handbook-row-button (newRow)="addRows($event)" />
            }
        </div>
    </footer>
</div>
