<div class="wrapper">
    <table class="table" tuiTable>
        <thead class="thead">
            <tr>
                <th tuiTh class="fixed">
                    <input type="checkbox" tuiCheckbox />
                </th>
                @for (column of handbook()?.columns; track $index) {
                    <th tuiTh>{{ column.name }}</th>
                }
                <th tuiTh class="fixed">
                    <button
                        tuiButton
                        appearance="flat"
                        iconStart="@tui.bolt"
                    ></button>
                </th>
            </tr>
        </thead>
        <tbody tuiTbody>
            @for (row of rows(); track row.id) {
                <tr>
                    <td tuiTd class="fixed">
                        <input type="checkbox" tuiCheckbox />
                    </td>

                    @for (column of handbook()?.columns; track column.id) {
                        <td tuiTd>
                            {{ row.values[column.id] }}
                        </td>
                    }

                    <td tuiTd class="fixed">
                        <button
                            tuiButton
                            appearance="flat"
                            iconStart="@tui.bolt"
                        ></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div #loadMore></div>

    @if (rows().length === 0) {
        <div class="empty">
            <div class="empty-text">Нет строк</div>
            <button
                tuiButton
                iconStart="@tui.plus"
                appearance="flat"
                (click)="createAttribute($event)"
                >Строка</button
            >
        </div>
    }
</div>
