<div class="wrapper">
    <table class="table" tuiTable>
        <thead class="thead">
            <tr>
                <th tuiTh class="fixed">
                    <input type="checkbox" tuiCheckbox />
                </th>
                @for (column of handbook()?.columns; track column.id) {
                    <th tuiTh>{{ column.name }}</th>
                }
                <th tuiTh class="fixed">
                    <button
                        tuiButton
                        appearance="flat"
                        iconStart="@tui.bolt"
                    ></button>
                </th>
            </tr>
        </thead>
        <tbody tuiTbody [tuiSkeleton]="isLoading()">
            @for (row of rows(); track row.id) {
                <tr>
                    <td tuiTd class="fixed">
                        <input type="checkbox" tuiCheckbox />
                    </td>

                    @for (column of handbook()?.columns; track column.id) {
                        @switch (column.type) {
                            @case (HandbookColumnType.Date) {
                                {{ getDateValue(row.values[column.id]) | date }}
                            }

                            @case (HandbookColumnType.Boolean) {
                                <td tuiTd>
                                    {{ row.values[column.id] ? 'Да' : 'Нет' }}
                                </td>
                            }

                            @case (HandbookColumnType.Text) {
                                <td tuiTd>
                                    {{ row.values[column.id] }}
                                </td>
                            }

                            @case (HandbookColumnType.Number) {
                                <td tuiTd>
                                    {{ row.values[column.id] }}
                                </td>
                            }
                        }
                    }

                    <td tuiTd class="fixed">
                        <button
                            tuiButton
                            appearance="flat"
                            iconStart="@tui.bolt"
                        ></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div #loadMore class="loadMore"></div>

    <footer class="footer">
        <div class="add-row__button">
            <button
                tuiButton
                iconStart="@tui.plus"
                appearance="flat"
                (click)="createAttribute($event)"
                >Строка</button
            >
        </div>

        @if (rows().length === 0 && !isLoading()) {
            <div class="empty-text">Нет строк</div>
        }
    </footer>
</div>
