<div class="card">
    <header class="header">
        <h1 class="title">Добро пожаловать в AstushaBook</h1>

        <p class="description">
            База знаний, инструкции и справочные данные для экосистемы Astusha
        </p>
    </header>

    <main class="content">
        <app-search-handbooks [isMainPage]="true" />

        <div class="buttons">
            <a
                tuiButton
                type="button"
                appearance="outline"
                iconStart="@tui.sheet"
                [routerLink]="['/astusha', 'handbooks', 'create']"
            >
                Создать справочник
            </a>

            <a
                tuiButton
                type="button"
                appearance="outline"
                iconStart="@tui.book"
                [routerLink]="['/astusha', 'handbooks', 'all']"
            >
                Все справочники
            </a>
        </div>
    </main>
</div>
