<div class="card">
    <header class="header">
        <h1 class="title">Добро пожаловать в AstushaBook</h1>

        <p class="description">
            База знаний, инструкции и справочные данные для экосистемы Astusha
        </p>
    </header>

    <main class="content">
        <tui-textfield iconStart="@tui.search">
            <label tuiLabel for="search">Поиск</label>

            <input
                id="search"
                tuiInput
                type="search"
                placeholder="Найти статью или справочник"
            />
        </tui-textfield>

        <div class="buttons">
            <a
                tuiButton
                type="button"
                appearance="outline"
                iconStart="@tui.sheet"
                [routerLink]="['/astusha', 'handbooks', 'create']"
            >
                Создать справочник
            </a>

            <a
                tuiButton
                type="button"
                appearance="outline"
                iconStart="@tui.book"
                [routerLink]="['/astusha', 'handbooks', 'all']"
            >
                Все справочники
            </a>
        </div>
    </main>
</div>
