.list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textfield {
    width: 100%;
}

.button {
    display: flex;
    justify-content: end;
}
