<div class="card">
    <header class="card-header">
        <h2 class="title">Структура таблицы</h2>

        <p class="description">Настройте атрибуты, их типы и обязательность</p>
    </header>

    <main class="content">
        @if (tableStructureFormService.tableStuctureValues().length === 0) {
            <div class="empty-column">
                <div class="empty-info">
                    <div class="column-info">
                        <div class="column-title">Новый атрибут</div>

                        <div class="column-meta">
                            Название, тип данных и обязательность пока не
                            заполнены
                        </div>
                    </div>
                </div>

                <button
                    tuiButton
                    type="button"
                    appearance="outline"
                    size="m"
                    iconStart="@tui.pen"
                    (click)="createAttribute($event)"
                >
                    Заполнить
                </button>
            </div>

            <div class="hint">
                Добавьте хотя бы один атрибут, чтобы создать структуру
                справочника.
            </div>
        } @else {
            <div class="columns-list">
                @for (
                    value of tableStructureFormService.tableStuctureValues();
                    track $index
                ) {
                    <div class="column">
                        <div class="column-left">
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                iconStart="@tui.grip-vertical"
                            ></button>

                            <div class="column-info">
                                <div class="column-title">
                                    {{ value.name }}
                                </div>

                                <div class="column-meta">
                                    <span class="badge">
                                        {{ value.type }}
                                    </span>

                                    @if (value.required) {
                                        <span tuiBadge appearance="primary">
                                            Обязательный
                                        </span>
                                    } @else {
                                        <span tuiBadge appearance="info">
                                            Необязательный
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="column-actions">
                            <button
                                tuiButton
                                type="button"
                                size="m"
                                appearance="flat"
                                iconStart="@tui.pen"
                                (click)="editAttribute($index, $event)"
                            ></button>

                            <button
                                tuiButton
                                type="button"
                                size="m"
                                appearance="flat"
                                iconStart="@tui.trash-2"
                                (click)="deleteColumn($index)"
                            ></button>
                        </div>
                    </div>
                }
            </div>
        }
    </main>

    <footer class="footer">
        <button
            tuiButton
            class="add"
            type="button"
            size="m"
            appearance="outline"
            iconStart="@tui.plus"
            (click)="createAttribute($event)"
        >
            Добавить столбец
        </button>
    </footer>
</div>
