<div class="card">
    <header class="header">Основная информация</header>
    <main>
        <form class="form">
            <label tuiLabel>
                Название справочника
                <tui-textfield>
                    <input tuiInput placeholder="Например, HTTP-коды" />
                </tui-textfield>
            </label>

            <label>
                Описание
                <tui-textfield
                    ><input
                        tuiInput
                        placeholder="Кратко опишите назначение справочника"
                /></tui-textfield>
            </label>

            <div class="footer-inputs">
                <label tuiLabel>
                    Раздел
                    <tui-textfield
                        ><input
                            tuiInput
                            placeholder="Добавьте системное название"
                    /></tui-textfield>
                </label>

                <label tuiLabel>
                    Теги
                    <tui-textfield
                        ><input
                            tuiInput
                            placeholder="Выберите или добавьте теги"
                    /></tui-textfield>
                </label>
            </div>
        </form>
    </main>
</div>
