<div class="card">
    <header class="header"> Основная информация </header>

    <main>
        <form class="form" [formGroup]="basicInfoForm">
            <label tuiLabel>
                Название справочника

                <tui-textfield>
                    <input
                        tuiInput
                        placeholder="Например, HTTP-коды"
                        formControlName="name"
                    />
                </tui-textfield>

                <tui-error [formControl]="basicInfoForm.controls.name" />
            </label>

            <label tuiLabel>
                Описание

                <tui-textfield>
                    <input
                        tuiInput
                        placeholder="Кратко опишите назначение справочника"
                        formControlName="description"
                    />
                </tui-textfield>

                <tui-error [formControl]="basicInfoForm.controls.description" />
            </label>

            <div class="footer-inputs">
                <div class="footer-input">
                    <label tuiLabel>
                        Системное название

                        <tui-textfield>
                            <input
                                tuiInput
                                placeholder="Например ast_http_codes"
                                formControlName="systemName"
                            />
                        </tui-textfield>

                        <tui-error
                            [formControl]="basicInfoForm.controls.systemName"
                        />
                    </label>
                </div>

                <div class="footer-input">
                    <label tuiLabel>
                        Теги

                        <tui-textfield multi>
                            <input
                                tuiInputChip
                                [unique]="true"
                                placeholder="Выберите или добавьте теги"
                                formControlName="tags"
                            />

                            <tui-input-chip *tuiItem />
                        </tui-textfield>

                        <tui-error
                            [formControl]="basicInfoForm.controls.tags"
                        />
                    </label>
                </div>
            </div>
        </form>
    </main>
</div>
