<div class="page">
    <header class="header">
        <div>
            <div class="title">Атрибуты справочника</div>

            <div class="description">
                Добавляйте и настраивайте колонки таблицы
            </div>
        </div>

        <div>
            <button
                type="button"
                tuiButton
                iconStart="@tui.plus"
                appearance="outline"
                class="add-attribute__button"
                (click)="createAttribute($event)"
            >
                Добавить атрибут
            </button>
        </div>
    </header>

    <div
        class="form"
        cdkDropList
        [cdkDropListData]="draftHandbookAttributes()"
        (cdkDropListDropped)="dropAttribute($event)"
    >
        @for (attribute of draftHandbookAttributes(); track attribute) {
            <div class="item" cdkDrag>
                <div class="attribute">
                    <button
                        type="button"
                        tuiButton
                        cdkDragHandle
                        appearance="flat-grayscale"
                        iconStart="@tui.grip-vertical"
                        aria-label="Изменить порядок атрибута"
                    ></button>

                    <div class="name">
                        {{ attribute.name }}
                    </div>

                    <div class="bages">
                        <div tuiBadge appearance="info">
                            {{ attribute.type | attributeType }}
                        </div>

                        @if (attribute.required) {
                            <div tuiBadge appearance="primary">
                                Обязательный
                            </div>
                        }
                    </div>

                    <div class="buttons">
                        <button
                            type="button"
                            tuiButton
                            appearance="flat-grayscale"
                            iconStart="@tui.pen"
                            aria-label="Редактировать атрибут"
                            (click)="editAttribute($index, $event)"
                        ></button>

                        <button
                            type="button"
                            tuiButton
                            appearance="flat-grayscale"
                            iconStart="@tui.trash-2"
                            aria-label="Удалить атрибут"
                            (click)="deleteAttribute($index)"
                        ></button>
                    </div>
                </div>
            </div>
        }
    </div>

    <footer class="footer">
        <button
            type="button"
            tuiButton
            appearance="flat"
            (click)="context.complete(null)"
        >
            Отмена
        </button>

        <button
            type="button"
            tuiButton
            [disabled]="draftHandbookAttributes().length === 0"
            (click)="save()"
        >
            Сохранить
        </button>
    </footer>
</div>
