<div class="card">
    <header class="header">
        <div tuiAvatar="@tui.star" appearance="warning" size="l"></div>

        <div class="header-content">
            <h2 class="header-title">Избранное</h2>
            <p class="header-description">
                Справочнии, которые вы добавили в избранное
            </p>
        </div>
    </header>

    <div class="list">
        @for (handbook of favoriteHandbooks().slice(0, 4); track handbook.id) {
            <a
                class="item"
                tuiButton
                appearance="outline"
                type="button"
                [routerLink]="['/astusha', 'handbooks', handbook.id]"
            >
                <div tuiAvatar="@tui.star" appearance="warning" size="l"></div>

                <div class="content">
                    <div class="title">{{ handbook.name }}</div>

                    <div class="description">
                        {{ handbook.description }}
                    </div>
                </div>

                <div class="tag" tuiBadge appearance="warning" size="m">
                    {{ handbook.tags }}
                </div>

                <div class="updated">
                    <div class="updated-label">Автор</div>

                    <div class="updated-value">
                        @if (
                            handbook.owner.firstName && handbook.owner.lastName
                        ) {
                            <div class="owner-name">
                                {{ handbook.owner.firstName }}
                                {{ handbook.owner.lastName }}
                            </div>
                        } @else {
                            <div class="owner-name">
                                {{ handbook.owner.login }}
                            </div>
                        }

                        <div class="owner-email">
                            {{ handbook.owner.email }}
                        </div>
                    </div>
                </div>

                <div
                    tuiIconButton
                    class="action"
                    appearance="flat"
                    size="s"
                    iconStart="@tui.chevron-right"
                ></div>
            </a>
        }
    </div>

    <footer class="footer">
        <button
            tuiButton
            class="footer-button"
            type="button"
            iconEnd="@tui.chevron-right"
            appearance="outline"
        >
            Все справочники
        </button>
    </footer>
</div>
