<div class="card">
    <header class="header">
        <div tuiAvatar="@tui.star" appearance="info" size="l"></div>

        <div class="header-content">
            <h2 class="header-title">Избранное</h2>
            <p class="header-description">
                Справочники, которые вы добавили в избранное
            </p>
        </div>
    </header>

    @if (favoriteHandbooks().length === 0 && !isLoading()) {
        <div class="empty">
            <div tuiAvatar="@tui.star" appearance="info" size="xxl"></div>
            <div class="empty-text">Пока нет избранных</div>
            <div class="empty-description"
                >Добавляйте справочники в избранное, чтобы быстро возвращаться к
                ним</div
            >
        </div>
    } @else {
        <div class="list" [tuiSkeleton]="isLoading()">
            @for (handbook of favoriteHandbooks(); track handbook.id) {
                <app-handbooks-list-item
                    [handbook]="handbook"
                    [isHandbooksList]="false"
                />
            }
        </div>
    }
</div>
