<div class="card">
    <header class="header">Владелец</header>

    <div class="content">
        @let user = currentUser$ | async;

        <div class="owner">
            @if (user?.avatarUrl) {
                <img
                    tuiAvatar
                    size="l"
                    [src]="user?.avatarUrl"
                    alt="Аватар пользователя"
                />
            } @else {
                <div tuiAvatar="@tui.user" class="avatar" size="l"></div>
            }

            <div class="details">
                <div class="name">
                    {{ user?.firstName || user?.login }}
                </div>

                <div class="email">
                    {{ user?.email }}
                </div>
            </div>
        </div>

        <button
            tuiButton
            class="action"
            type="button"
            appearance="outline"
            iconStart="@tui.user-round-plus"
        >
            Добавить редактора
        </button>
    </div>
</div>
