<div class="card">
    <header class="header">
        <div tuiAvatar="@tui.book-open-text" appearance="info" size="l"></div>

        <div class="header-content">
            <h2 class="header-title">Продолжить чтение</h2>
            <p class="header-description">
                Последние открытые материалы и статьи
            </p>
        </div>
    </header>

    <div class="list" [tuiSkeleton]="isLoading()">
        @for (handbook of recentlyViewedhandbooks(); track handbook.id) {
            <app-handbook-preview-item [handbook]="handbook" />
        }
    </div>

    <footer>
        <a
            tuiButton
            class="footer-button"
            type="button"
            iconEnd="@tui.chevron-right"
            appearance="outline"
            [routerLink]="['/astusha', 'handbooks', 'all']"
        >
            Все справочники
        </a>
    </footer>
</div>
