<div class="card">
    <header class="header">
        <div class="header-content">
            <div class="title"> Как использовать справочник в работе? </div>

            <div class="description">
                Справочники помогут быстрее находить ответы на вопросы и
                делиться знаниями в команде.
            </div>
        </div>

        <img class="image" src="./images/guide-img.png" alt="Открытая книга" />
    </header>

    <main class="list">
        <div class="item">
            <tui-icon icon="@tui.circle-check-big" />
            <div>Создавайте и структурируйте справочники</div>
        </div>

        <div class="item">
            <tui-icon icon="@tui.circle-check-big" />
            <div>Настраивайте доступ для команды</div>
        </div>

        <div class="item">
            <tui-icon icon="@tui.circle-check-big" />
            <div>Добавляйте важные справочники в избранное</div>
        </div>
    </main>

    <button
        tuiButton
        class="action"
        type="button"
        appearance="outline"
        iconEnd="@tui.external-link"
    >
        Открыть гайд
    </button>
</div>
