<form class="form" [formGroup]="stringForm">
    <header>
        @if (isAdding()) {
            <div class="header"> Добавление новой строки </div>
        } @else {
            <div class="header"> Редактирование строки </div>
        }
    </header>

    @for (column of handbook.columns; track column.id) {
        <div class="inputs">
            @switch (column.type) {
                @case (HandbookColumnType.Text) {
                    <label class="label">
                        {{ column.name }}
                        <tui-textfield class="textfield">
                            <input
                                type="text"
                                tuiInput
                                placeholder="Введите значение"
                                [formControlName]="column.id"
                            />
                        </tui-textfield>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }
                @case (HandbookColumnType.Number) {
                    <label class="label">
                        {{ column.name }}
                        <tui-textfield class="textfield">
                            <input
                                type="number"
                                tuiInput
                                placeholder="Введите число"
                                [formControlName]="column.id"
                            />
                        </tui-textfield>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }

                @case (HandbookColumnType.Boolean) {
                    <label class="label">
                        {{ column.name }}

                        <input
                            class="checkbox"
                            type="checkbox"
                            tuiCheckbox
                            [formControlName]="column.id"
                        />
                    </label>

                    <tui-error [formControlName]="column.id" />
                }

                @case (HandbookColumnType.Date) {
                    <label class="label">
                        {{ column.name }}
                        <tui-textfield class="textfield">
                            <input tuiInputDate [formControlName]="column.id" />
                            <tui-calendar *tuiDropdown />
                        </tui-textfield>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }
                @case (HandbookColumnType.User) {
                    <label class="label">
                        {{ column.name }}
                        <app-search-users
                            [isRowAddingOrEditing]="isRowAddingOrEditing()"
                            [formControlName]="column.id"
                        />
                    </label>

                    <tui-error [formControlName]="column.id" />
                }
            }
        </div>
    }

    <footer class="buttons">
        <button
            type="button"
            size="l"
            tuiButton
            appearance="flat"
            (click)="context.complete()"
            >Отмена</button
        >
        @if (isAdding()) {
            <button
                type="button"
                size="l"
                appearance="primary"
                tuiButton
                (click)="save()"
                [disabled]="isSaving()"
                >Сохранить</button
            >
        } @else {
            <button
                type="button"
                size="l"
                appearance="primary"
                tuiButton
                (click)="edit()"
                [disabled]="isSaving()"
                >Сохранить</button
            >
        }
    </footer>
</form>
