<form class="form" [formGroup]="stringForm">
    <header class="header">
        @if (isAdding()) {
            <div> Добавление новой строки </div>
        } @else {
            <div> Редактирование строки </div>
        }

        <button
            type="button"
            tuiIconButton
            appearance="flat"
            size="s"
            iconStart="@tui.x"
            (click)="context.complete()"
        ></button>
    </header>

    @for (column of handbook.columns; track column.id) {
        <div class="inputs">
            @switch (column.type) {
                @case (HandbookColumnType.Text) {
                    <label class="label">
                        {{ column.name }}
                        <tui-textfield class="textfield">
                            <input
                                type="text"
                                tuiInput
                                placeholder="Введите значение"
                                [formControlName]="column.id"
                            />
                        </tui-textfield>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }
                @case (HandbookColumnType.Number) {
                    <label class="label">
                        {{ column.name }}
                        <tui-textfield class="textfield">
                            <input
                                type="number"
                                tuiInput
                                placeholder="Введите число"
                                [formControlName]="column.id"
                            />
                        </tui-textfield>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }

                @case (HandbookColumnType.Boolean) {
                    <label class="label">
                        {{ column.name }}

                        <form class="group" tuiGroup [collapsed]="true">
                            <label tuiBlock>
                                <input
                                    tuiRadio
                                    type="radio"
                                    [value]="true"
                                    [formControlName]="column.id"
                                />
                                <span>Дa</span>
                            </label>

                            <label tuiBlock>
                                <input
                                    tuiRadio
                                    type="radio"
                                    [value]="false"
                                    [formControlName]="column.id"
                                />
                                <span>Нет</span>
                            </label>
                        </form>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }

                @case (HandbookColumnType.Date) {
                    <label class="label">
                        {{ column.name }}
                        <tui-textfield class="textfield">
                            <input tuiInputDate [formControlName]="column.id" />
                            <tui-calendar *tuiDropdown />
                        </tui-textfield>
                    </label>

                    <tui-error [formControlName]="column.id" />
                }
                @case (HandbookColumnType.User) {
                    <label class="label">
                        {{ column.name }}
                        <app-search-users
                            [isRowAddingOrEditing]="isRowAddingOrEditing()"
                            [formControlName]="column.id"
                        />
                    </label>

                    <tui-error [formControlName]="column.id" />
                }

                @case (HandbookColumnType.List) {
                    <label class="label">
                        {{ column.name }}
                    </label>

                    <tui-textfield class="textfield" tuiChevron>
                        <input
                            tuiComboBox
                            placeholder="Выберите значение из списка"
                            [formControlName]="column.id"
                        />

                        <tui-data-list-wrapper
                            *tuiDropdown
                            [items]="column.options"
                        />
                    </tui-textfield>

                    <tui-error [formControlName]="column.id" />
                }

                @case (HandbookColumnType.FormattedString) {
                    <div class="label">
                        <span>{{ column.name }}</span>

                        <tui-editor [formControlName]="column.id" />
                    </div>
                }

                @case (HandbookColumnType.Reference) {
                    <div class="label">
                        <span>{{ column.name }}</span>

                        <tui-editor [formControlName]="column.id" />
                    </div>
                }
            }
        </div>
    }

    <footer class="buttons">
        <button
            type="button"
            size="l"
            tuiButton
            appearance="flat"
            (click)="context.complete()"
            >Отмена</button
        >
        @if (isAdding()) {
            <button
                type="button"
                size="l"
                appearance="primary"
                tuiButton
                (click)="save()"
                [disabled]="isSaving()"
                >Сохранить</button
            >
        } @else {
            <button
                type="button"
                size="l"
                appearance="primary"
                tuiButton
                (click)="edit()"
                [disabled]="isSaving()"
                >Сохранить</button
            >
        }
    </footer>
</form>
