<div class="card">
    <header class="header" [class.header_expanded]="expanded">
        <div class="title">
            <div tuiAvatar="@tui.clock-4" appearance="info" size="s"></div>

            <div>Недавно просмотренные</div>
        </div>

        <button
            tuiButton
            [tuiChevron]="expanded"
            type="button"
            appearance="flat"
            aria-label="Показать или скрыть недавно просмотренные"
            (click)="expanded = !expanded"
        ></button>
    </header>

    <tui-expand [expanded]="expanded">
        <main class="content">
            @for (
                handbook of recentlyViewedhandbooks().slice(0, 2);
                track handbook.id
            ) {
                <div class="item">
                    <div
                        class="item-icon"
                        tuiAvatar="@tui.clock"
                        appearance="info"
                        size="l"
                    ></div>

                    <div class="item-info">
                        <div class="meta">
                            <div class="item-title">
                                {{ handbook.name }}
                            </div>

                            @for (
                                tag of handbook.tags.slice(0, 2);
                                track $index
                            ) {
                                <div tuiBadge appearance="info">
                                    {{ tag }}
                                </div>
                            }
                        </div>

                        <div class="autor">
                            <div class="autor-label"> Автор </div>

                            @if (
                                handbook.owner.firstName &&
                                handbook.owner.lastName
                            ) {
                                <div class="owner-name">
                                    {{ handbook.owner.firstName }}
                                    {{ handbook.owner.lastName }}
                                </div>
                            } @else {
                                <div class="owner-name">
                                    {{ handbook.owner.login }}
                                </div>
                            }

                            <div class="owner-email">
                                {{ handbook.owner.email }}
                            </div>
                        </div>
                    </div>

                    <a
                        tuiButton
                        class="open"
                        type="button"
                        appearance="flat"
                        iconStart="@tui.chevron-right"
                        aria-label="Открыть справочник"
                    ></a>
                </div>
            }
        </main>
    </tui-expand>
</div>
