<div class="card">
    <header class="header" [class.header_expanded]="expanded">
        <div class="title">
            <div tuiAvatar="@tui.clock-4" appearance="info" size="s"></div>

            <div>Недавно просмотренные</div>
        </div>

        <button
            tuiButton
            [tuiChevron]="expanded"
            type="button"
            appearance="flat"
            aria-label="Показать или скрыть недавно просмотренные"
            (click)="expanded = !expanded"
        ></button>
    </header>

    <tui-expand [expanded]="expanded">
        <main class="content">
            @for (
                handbook of recentlyViewedHandbooks().slice(0, 2);
                track handbook.id
            ) {
                <app-handbooks-list-item
                    [handbook]="handbook"
                    [isHandbooksList]="false"
                />
            }
        </main>
    </tui-expand>
</div>
