<div class="handbook-header">
    <div class="left">
        <button
            tuiButton
            iconStart="@tui.chevron-left"
            appearance="flat"
            (click)="goBack()"
            >Назад</button
        >
        <div class="name">{{ handbook()?.name }}</div>
    </div>
    <div class="right">
        @if (currentUser()?.id === handbook()?.ownerId) {
            <app-edit-cells-buttons />
            <app-hanbook-actions-button />
        } @else {
            @if (canEditHandbook()) {
                <app-edit-cells-buttons />
                <app-add-handbook-row-button />
            }
        }
    </div>
</div>
