<a class="item" [routerLink]="['/astusha', 'handbooks', handbook().id]">
    <div class="info">
        <div class="info-content">
            <div class="title-row">
                <div class="name">
                    {{ handbook().name }}
                </div>

                @if (!handbook().hasAccess) {
                    <div
                        class="lock"
                        tuiAvatar="@tui.lock-keyhole"
                        size="m"
                        appearance="flat-grayscale"
                    ></div>
                }
            </div>

            @if (handbook().description) {
                <div class="description">
                    {{ handbook().description }}
                </div>
            }

            @if (handbook().tags.length) {
                <div class="tags">
                    @for (tag of handbook().tags; track tag) {
                        <div tuiBadge size="m" appearance="info">
                            {{ tag }}
                        </div>
                    }
                </div>
            }
        </div>

        <div class="favourite">
            @if (handbook().isFavorite) {
                <button
                    type="button"
                    tuiIconButton
                    appearance="flat"
                    iconStart="@tui.star-filled"
                    [style.border-radius.%]="100"
                    (click)="changeHandbookStatus($event, handbook())"
                ></button>
            } @else {
                <button
                    type="button"
                    tuiIconButton
                    appearance="flat"
                    iconStart="@tui.star"
                    [style.border-radius.%]="100"
                    (click)="changeHandbookStatus($event, handbook())"
                ></button>
            }
        </div>
    </div>

    @if (isHandbooksList()) {
        <div class="actions">
            <button
                class="more-button"
                size="m"
                tuiButton
                tuiChevron
                type="button"
                appearance="flat"
                (click)="toggleExpanded($event)"
            >
                Подробнее
            </button>
        </div>
    }

    <tui-expand [expanded]="expanded">
        <div class="expand">
            <div class="owner">
                <div class="label"> Автор </div>

                <div class="owner-info">
                    <div class="owner-avatar">
                        @if (handbook().owner.avatarUrl) {
                            <div tuiAvatar="@tui.user" size="m">
                                <img
                                    [src]="handbook().owner.avatarUrl"
                                    alt="Фото автора"
                                />
                            </div>
                        } @else {
                            <div
                                tuiAvatar="@tui.user"
                                appearance="info"
                                size="m"
                            ></div>
                        }
                    </div>

                    <div class="owner-value">
                        @if (
                            handbook().owner.firstName &&
                            handbook().owner.lastName
                        ) {
                            <div class="owner-name">
                                {{ handbook().owner.firstName }}
                                {{ handbook().owner.lastName }}
                            </div>
                        } @else {
                            <div class="owner-name">
                                {{ handbook().owner.login }}
                            </div>
                        }

                        <div class="owner-email">
                            {{ handbook().owner.email }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="updated">
                <div class="label">Изменен:</div>
                <div class="updated-info">{{
                    handbook().updatedAt | date
                }}</div>
            </div>
        </div>
    </tui-expand>
</a>
