<header class="header">
    <div class="header-left">
        <a
            tuiIconButton
            appearance="outline"
            iconStart="@tui.house"
            [routerLink]="['main-page']"
        ></a>
        <div>
            <div class="header-eyebrow"> Справочники </div>

            <div class="title">AstushaBook</div>
        </div>
    </div>

    @let user = currentUser$ | async;

    <button
        tuiButton
        class="profile"
        appearance="outline"
        (click)="goToAstushaId()"
    >
        @if (user?.avatarUrl) {
            <img class="avatar" [src]="user?.avatarUrl" alt="Фото профиля" />
        } @else {
            <div tuiAvatar="@tui.user" appearance="info"></div>
        }

        <div class="user-info">
            <span class="user-name">
                {{ user?.firstName || user?.login }}
            </span>

            <span class="user-email">
                {{ user?.email }}
            </span>
        </div>
    </button>
</header>
