<div class="page">
    <tui-stepper
        class="stepper"
        [activeItemIndex]="activeStep()"
        (activeItemIndexChange)="activeStep.set($event)"
    >
        <button tuiStep icon="@tui.square-pen" size="l"
            >Основная информация</button
        >
        <button tuiStep icon="@tui.sheet">Структура таблицы</button>
        <button tuiStep icon="@tui.settings">Настройки</button>
    </tui-stepper>
    <main class="content">
        @switch (activeStep()) {
            @case (0) {
                <app-basic-information (next)="activeStep.set(1)" />
            }
            @case (1) {
                <app-table-structure />
            }
            @case (2) {
                <app-settings />
                <footer class="footer">
                    <button
                        class="button"
                        tuiButton
                        iconStart="@tui.plus"
                        (click)="createHandbook()"
                        >Сохранить</button
                    >
                </footer>
            }
        }
    </main>

    <app-sidebar-host />
</div>
