<tui-textfield
    iconStart="@tui.search"
    tuiChevron
    [stringify]="stringifyHandbook"
>
    <input
        #inputRef
        tuiComboBox
        placeholder="Введите название справочника"
        [formControl]="searchHandbookControl"
        [invalid]="isParentInvalid()"
        (input)="onSearchInput(inputRef.value)"
        (blur)="lossFocus()"
    />

    @if (isMainPage()) {
        <tui-data-list-wrapper
            *tuiDropdown
            [items]="foundedHandbooks()"
            (itemClick)="goToHandbook($event)"
            [emptyContent]="
                inputRef.value.length < 3
                    ? 'Введите минимум 2 символа'
                    : 'Ничего не найдено'
            "
        />
    } @else {
        <tui-data-list-wrapper
            *tuiDropdown
            [items]="foundedHandbooks()"
            [emptyContent]="
                inputRef.value.length < 3
                    ? 'Введите минимум 2 символа'
                    : 'Ничего не найдено'
            "
        />
    }
</tui-textfield>

<tui-error [formControl]="searchHandbookControl" />
