<a
    class="item"
    tuiButton
    appearance="outline"
    type="button"
    [attr.aria-label]="'Открыть статью «' + handbook.name + '»'"
    [routerLink]="['/astusha', 'handbooks', handbook().id]"
>
    <div class="info">
        <div tuiAvatar="@tui.book" appearance="info" size="l"></div>

        <div class="content">
            <div class="ass">
                <div class="title">{{ handbook().name }}</div>

                @for (tag of handbook().tags.slice(0, 2); track $index) {
                    <div tuiBadge appearance="info" size="m">
                        {{ tag }}
                    </div>
                }
            </div>

            <div class="description">
                {{ handbook().description }}
            </div>
        </div>
    </div>

    <div class="author">
        <div class="author-label">Автор</div>

        <div class="author-value">
            @if (handbook().owner.firstName && handbook().owner.lastName) {
                <div class="owner-name">
                    {{ handbook().owner.firstName }}
                    {{ handbook().owner.lastName }}
                </div>
            } @else {
                <div class="owner-name">
                    {{ handbook().owner.login }}
                </div>
            }

            <div class="owner-email">
                {{ handbook().owner.email }}
            </div>
        </div>
    </div>

    <div
        tuiIconButton
        class="action"
        appearance="flat"
        size="s"
        iconStart="@tui.chevron-right"
    ></div>
</a>
