<div class="search">
    @if (!isRowAddingOrEditing()) {
        <label tuiLabel class="label">
            Добавьте пользователей, которые могут редактировать справочник
        </label>
    } @else {
        <label tuiLabel class="label"> Выберите пользователя </label>
    }

    <tui-textfield
        iconStart="@tui.search"
        class="textfield"
        tuiChevron
        [stringify]="stringifyUser"
    >
        <input
            #inputRef
            tuiComboBox
            placeholder="Имя, фамилия, логин или email"
            [formControl]="searchUserControl"
            (input)="onSearchInput(inputRef.value)"
            (blur)="lossFocus()"
            [invalid]="isParentInvalid()"
        />

        <tui-data-list-wrapper
            *tuiDropdown
            [items]="foundUsers()"
            [itemContent]="userContent"
            [emptyContent]="
                inputRef.value.length < 2
                    ? 'Введите минимум 2 символа'
                    : 'Ничего не найдено'
            "
            class="dropdown"
        />
    </tui-textfield>

    <tui-error [formControl]="searchUserControl" />
</div>

<ng-template #userContent let-user>
    <app-user-preview [user]="user" />
</ng-template>
