<div class="wrapper">
    <div class="item">
        <div class="info">
            <div tuiAvatar="@tui.pyramid" size="l" appearance="info"></div>
            <div>
                <div class="name">Angular: основы на практике</div>
                <div class="description"
                    >Разбираем основы и практические примеры использования
                    Angular в проектах</div
                >
            </div>
        </div>

        <div class="tags" tuiBadge size="xl" appearance="info">Angular</div>
        <div class="meta">
            <div>Обновлено</div>
            <div>2 дня назад</div>
        </div>
        <button tuiButton iconEnd="@tui.chevron-right" appearance="flat"
            >Подробнее</button
        >
    </div>
</div>
