<div class="table">
    <table tuiTable>
        <thead>
            <tr>
                <th tuiTh>Название</th>
                <th tuiTh>Раздел</th>
                <th tuiTh>Записей</th>
                <th tuiTh>Владелец</th>
                <th tuiTh>Доступ</th>
                <th tuiTh>Обновлено</th>
                <th tuiTh></th>
            </tr>
        </thead>
        <tbody tuiTbody>
            <tr>
                <td tuiTd></td>
                <td tuiTd></td>
                <td tuiTd></td>
                <td tuiTd></td>
                <td tuiTd></td>
                <td tuiTd></td>
                <td tuiTd></td>
            </tr>
        </tbody>
    </table>
</div>
