<div class="wrapper">
    @for (handbook of handbookPreviews(); track handbook.id) {
        <div class="item">
            <div class="info">
                <div
                    class="avatar"
                    tuiAvatar="@tui.pyramid"
                    size="l"
                    appearance="info"
                ></div>

                <div class="info-content">
                    <div class="name">{{ handbook.name }}</div>

                    <div class="description">
                        {{ handbook.description }}
                    </div>

                    @if (handbook.tags.length) {
                        <div class="tags">
                            @for (tag of handbook.tags; track tag) {
                                <div tuiBadge size="m" appearance="info">
                                    {{ tag }}
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="meta">
                <div class="meta-label">Обновлено</div>

                <div class="meta-value">
                    {{ handbook.updatedAt | date: 'd MMMM y' }}
                </div>
            </div>

            <button
                tuiButton
                class="action"
                type="button"
                appearance="flat"
                iconEnd="@tui.chevron-right"
                (click)="openHandbook(handbook.id)"
            >
                Подробнее
            </button>
        </div>
    }
</div>
