<div class="toolbar">
    <tui-textfield class="textfield" iconStart="@tui.search">
        <input
            tuiInput
            placeholder="Найти справочник"
            aria-label="Поиск справочника"
            [formControl]="searchControl"
        />
    </tui-textfield>

    <tui-segmented class="segmented" size="l">
        <button type="button" (click)="isSearchByName.set(true)"
            >По названию</button
        >
        <button type="button" (click)="isSearchByName.set(false)"
            >По тегу</button
        >
    </tui-segmented>
</div>
